.students-table{
    
    border: 1px solid black;
    margin-left:auto; 
    margin-right:auto;
    width: 80%;

    font-family: Arial, Helvetica, sans-serif;
    
    margin-bottom: 30px;
    
    th, td {
        text-align: center;
        padding: 5px;
        border: 1px solid black;
       
    }
    tbody tr {
        &:nth-child(even){
            background-color: rgb(192, 182, 182);
            color:white;
        }
        &:nth-child(odd){
            background-color: rgb(209, 199, 199);
        }
    }

    thead tr
    {
        background-color: blue;
        color:white;
    }

    @media (max-width: 581px) {
        
        padding:0;
        margin-left:0;
        margin-right:0;
        thead{
            
            th{
                font-size: .7em;
            }
        }
        td, tr{
            padding: 5px;
        }
        td{
            text-align:left;
        }
        p{
            font-size: .7em;
        }
          
    }
    
}
.student-header{
    text-align:center;
}