.students-table{
    
    border: 1px solid black;
    //width: 80%;
    font-family: Arial, Helvetica, sans-serif;
        
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        
    
    tr{
        width: 30%;
        border: 1px solid grey;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: grey;
        color:white;
    
    }
    //margin-bottom: 30px;
    
    //th, td {
   //     text-align: center;
    //    padding: 5px;
    //    border: 1px solid black;
       
    //}
    tbody tr {
        &:nth-child(even){
            background-color: rgb(151, 145, 145);
            color:white;
        }
        &:nth-child(odd){
            background-color: rgb(209, 199, 199);
        }
    }

    thead tr
    {
        background-color: $brand-color;
        color:white;
    }

    @media (max-width: 581px) {
        
       
            display:block;
       
        tr{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    
}
.student-header{
    text-align:center;
}